body{
    margin: 0;
}
/* navbar  */
.navbarr{
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 2px solid red;
    
    
}
.navbar-logo-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
}
.navbar-logo img {
    width: 130px;
    height: 30px;
}
.navbar-search-box{
    margin: 0 2rem  ;
    box-shadow:0 0 8px 0 gainsboro;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 650px;
    height: 45px;
    padding: 0;
}
.navbar-location{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-location-data {
    display: flex;
    align-items: center;
}
.navbar-location-data-logo {
    margin: 0 10px;
}
.navbar-location-data-logo img {
    width: 25px;
    height: 25px;
}
.navbar-location-data-name p {
    font-size: 18px;
    color: gray;
    margin: 5px 0;
}
.navbar-location-data-arrow {
    margin-left: 3rem;
}
.navbar-location-data-arrow img {
    width: 10px;
    height: 10px;
}
.navbar-search-line {
    height: 20px;
    width: 1px;
    background-color: gray;
    margin: 0 1rem ;
}
.navbar-search input{
    border: none;
    outline: none;
    font-size: 15px;
    color: gray;
    width: 100%;
}

.navbar-profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.navbar-profile-section-image img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.navbar-profile-section-name {
    margin: 0 10px;
    
    
   
}
.navbar-profile-section-namep {
    font-size: 18px;
    font-weight: 500;
   
    margin: 5px 0;
   
}
.navbar-profile-section-arrow img {
    width: 12px;
    height: 12px;
    padding-top: 6px;
}

.small-search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    display: none;
    border-bottom: .5px solid gainsboro;
}
.small-location {
    display: flex;
    align-items: center;

}
.small-location-data-logo img {
    width: 25px;
    height: 25px;
}
.small-location-data-name p {
    font-size: 18px;
    color: gray;
    margin: 5px 0;
    
}
.small-search input {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    padding: 2px;
    background-color: gainsboro;
    border: 1px solid gainsboro;
   
}

@media screen and (max-width:1025px) {
    .navbarr{
        padding: 0 3rem;
    }
    .navbar-search-box{
        width: 500px;
    }
   
}
@media screen and (max-width:1000px) {
    .navbarr{
        padding: 0 1rem;
        box-shadow:0 0 8px 0 gainsboro;
    }
    .navbar-search-box{
        display: none;
    }
    .navbar-profile-section-name{
        display: none;
    }
    .navbar-profile-section-arrow{
        display: none;
    }
    
    .small-search-box{
        display: flex;
    }
    .navbar-profile-section-image img {
        width: 35px;
        height: 35px;
       
    }
}

/* aside */

.aside{
    margin: 1rem 0;
    padding: 0 6rem;
    
}
.aside-locations {
    display: flex;
    align-items: center;
    gap: 10px;

}
.aside-location p {
    font-size: 15px;
    color: gray;
    margin: 5px 0;
}
.aside-location p:hover{
    color: red;
    cursor: pointer;
}
.aside-locations span {
    color: rgb(197, 191, 191);
}

.aside-filters {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.aside-filter {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0 8px ;
    height: 35px;
}
.aside-filter:hover{
    background-color: rgb(236, 234, 234);
}
.aside-filter-icon {
    margin-right: 10px;
}
.aside-filter-icon img {
    width: 20px;
    height: 20px;
}
.aside-filter-text p{
    color: gray;
    font-size: 15px;
    font-weight: 500;
    margin: 5px 0;
}

@media screen and (max-width:1025px){
    .aside{
        padding: 0 3rem;
    }
}

@media screen and (max-width:1000px) {
    .aside{
       
        padding: 0 1rem;
        
    }
    .aside-locations {
        display: none;
    }
}
/* carosuel */
.carosuel{
    padding: 5px 6rem;
    background-color: whitesmoke;
    height: 300px;
    margin: 2rem 0;
}
.carosuel-title p{
    font-size: 30px;
    font-weight: 500;
    padding: 1rem 0;
}
.carosuel-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.carosuel-card {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carosuel-card-image img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    
}
.carosuel-card-title p {
    margin: 0;
    padding: 0 10px;
}

@media screen and (max-width:1025px){
    .carosuel{
        padding: 0 3rem;
    }
    .carosuel-card {
        margin-right: 1rem;
    }
}

@media screen and (max-width:1000px){
    .carosuel{
        padding: 0 1rem;
        height: 350px;
    }
    .carosuel-title p{
        font-size: 20px;
       
    }
    .carosuel-card-image img {
        width: 100px;
        height: 100px;
        border-radius: 60px;
        
    }
    

}
@media screen and (max-width:700px){
    .carosuel{
        height: 300px;
    }
    .carosuel-card {
        margin-right: 10px;
    }
    .carosuel-card-image img {
        width: 70px;
        height: 70px;
        
        
    }
}


/* cards */
.card-section{
    padding: 0 6rem;
}
.card-section-title p {
    font-size: 30px;
    font-weight: 500;
   
    
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


.card{
    width: 330px;
    height: 310px;
    
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 5px 0;
    
}
.card:hover{
    background-color: white;
    box-shadow:0 0 8px 0 gainsboro;

}
.card-image{
    display: flex;
    justify-content: center;
    
}
.card-image img {

    width: 310px;
    height: 220px;
    border-radius: 20px;
}
.card-titles {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 10px;

}
.card-title p {
    font-size: 20px;
    font-weight: 600;
    padding: 5px 0;
    margin: 0;
}
.card-title-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    background-color: green;
    border-radius: 5px;
}
.card-title-rating p {
    padding: 0;
    color: white;
    font-size: 12px;
    margin: 1px;

}
.card-subtitles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;

}

.card-subtitle p{
    color: gray;
    
    margin: 0;
   
}
.card-subtitle-amount  p{
    color: gray;
    padding: 0;
    margin: 0;
   
}
.card-subtitle-time {
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
}
.card-subtitle-time p{
    padding: 0;
    margin: 0;
}

@media screen and (max-width:1025px){
    .card-section{
        padding: 0 3rem;
    }
}

@media screen and (max-width:1000px){
    .card-section{
        padding: 0 1rem;
    }
    .card-section-title p{
        font-size: 20px;
    }
   
}





/* form */

.drp-down{
    padding: 1rem 6rem;
    margin: 4rem 0;
    border: none;
    outline: none;
}
.drp-down-btn{
    margin: 2rem 0;
    border: 1px solid gray;
}
.heading{
    background-color: white;
    border: none;
}


@media screen and (max-width:1025px){
    .drp-down{
        padding: 0 3rem;
    }
}


@media screen and (max-width:1000px){
    .drp-down{
        padding: 0 1rem;
    }
}





/* footer */
.footer{
    background-color:whitesmoke;
    margin: 2rem 0 0 0;
    padding: 4rem 6rem;
}
.footer-first-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.footer-second-boxes{
    display: flex;
    flex-wrap: wrap;
  
  

}
.footer-first-logo img {
    width: 130px;
    height: 30px;

}
.footer-first-datas{
    display: flex;
    gap: 10px;
}
.footer-first-data {
    display: flex;
    width: 110px;
    height: 30px;
    border: 1px solid gray;
    gap: 10px;
    border-radius: 5px;
    align-items:center ;
    padding: 5px;

}
.footer-first-data-icon img {
    width: 20px;
    height: 20px;
}
.footer-first-data-text p{
 margin: 5px 0;
}
.footer-second-box {
   
    display: flex;
    justify-content: center;
    
    
    flex-wrap: wrap;
    
}
.footer-second-boxes {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
   
}
.footer-second-box-fiv{
    width: 210px;
    
    margin: 0 1rem 0 0;
   
}
.footer-second-box-fiv p {
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0;
    margin: 0;
    font-style:inherit;
    color: rgb(58, 56, 56);
}
.footer-second-box-fiv ul {
    margin: 0 5px;
    padding: 0;

}
.footer-second-box-fiv li {
    list-style: none;
    padding: 2px 0;
    color: gray;
}

.footer-second-box-icons{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
   
   
}
.footer-second-box-icon {
    display: flex;
    flex-direction: column;
    
}
.footer-second-box-icon p{
    font-size: 20px;
    font-weight: 600;
    padding:  8px 0;
    margin: 0;
    font-style:inherit;
    color: rgb(58, 56, 56);
    
}
.footer-second-box-icon ul {
    display: flex;
    
    padding: 0;  
    
}
.footer-second-box-icon li {
    list-style: none;
    margin: 0 5px;
    

}
.footer-second-box-icon li img{
    width: 25px;
    height: 25px;
    border-radius: 20px;
}
.footer-second-box-icon-image{
    margin: 5px;
}
.footer-second-box-icon-image img {
    width: 120px;
    height: 40px;
}




@media screen and (max-width:1025px){
    .footer{
        padding: 0 3rem;
    }
}

@media screen and (max-width:1000px){
    .footer{
        padding:  1rem;
    }
    .footer-first-box{
        padding: 5px;
        flex-direction: column;
        

    }
    .footer-second-box{
       flex-direction: column;
       
    }
    .footer-first-datas {
        margin: 1rem 0;
    }
    .footer-second-box-fiv{
        width: 180px;
        
    }
    .footer-second-box-icon p{
        font-size: 12px;
    }
    .footer-second-box-footer-images{
        display: flex;
        justify-content: space-between;
        padding: 0 1rem ;
    }
    .footer-second-box-icons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-second-box-icon{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
   

}

@media screen and (max-width:800px) {

    .footer-second-box-fiv{
        width: 150px;
        
    }
    .footer-second-box-icon-image img {
        width: 100px;
        height: 30px;
    }

}

.footer-third-box {
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid gray;
}
.footer-third-box p {
    color: gray;
    font-size: 15px;

}
